<form action ="/recipes" method = "post">
  <h2>Name: <input type = "input" name = "name"></h2>
  <p>Ingredients: <textarea name = "ingredients"></textarea></p>
  <p>Cook Time: <input type = "input" name = "cook_time"></p>
  <input type = "submit" id = "submit">
</form>